body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
		sans-serif;
	background-image: url("images/table.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-weight: bold;
	color: white;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	color: goldenrod;
}

#message-el {
	font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */

#start-btn,
#newCard-btn,
#newGame-btn {
	width: 150px;
	padding: 5px;

	font-size: 0.7rem;
	background: goldenrod;
	color: #016f32;

	/* height: 30px; */
	font-weight: bold;
	border: none;
	border-radius: 3px;

	/* Here instead of 4px on margin bottom and top. We make each 2px of them to have a even look  */
	margin-bottom: 2px;
	margin-top: 2px;
}

#start-btn:hover,
#newCard-btn:hover,
#newGame-btn:hover {
	cursor: pointer;
}

@media screen and (min-width: 576px) {
	#start-btn,
	#newCard-btn,
	#newGame-btn {
		font-size: 0.9rem;
	}

	h1 {
		font-size: 2rem;
	}
}
