@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: "Karla", sans-serif;
	background: #1c1c1c;
}

h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	/* line-height: 40px; */
	letter-spacing: -0.025em;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-card {
	border-radius: 6px;
	background-color: #1f2937;
	width: 550px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container .wrapper-text {
	display: flex;
	flex-direction: column;
	padding: 50px 144px 0 52px;
}

.wrapper-password-length {
	display: flex;
	align-items: center;
}

input#password-length {
	width: 50px;
	height: 20px;
	margin-left: 6px;
}

.white {
	color: white;
}

.shade-green {
	color: #4adf86;
}

.motto {
	color: #d5d4d8;
	margin-top: 10px;
}

.wrapper-passwords .border {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #4adf86;
	background: #273549;
	border-radius: 6px;
	width: 211px;
	height: 39px;
}

.btn-green {
	width: 191px;
	height: 42px;

	background: #10b981;
	border: none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	font-size: 16px;
}

.wrapper-btn {
	margin-top: 51px;
}

#generate-password:hover,
#copy-password0:hover,
#copy-password1:hover {
	background: #0ea674;
	cursor: pointer;
}

#hr-width {
	width: 446px;
	border: 1px solid #2f3e53;
	margin-top: 35px;
}

/* Media queries */

@media screen and (max-width: 576px) {
	.container {
		height: 100%;
	}

	.container-card {
		width: 100%;
		height: 100%;
		padding: 50px 0 50px 0;
	}

	.wrapper-text {
		text-align: center;
		padding: 0 20px 0 20px;
	}

	.wrapper-text h1 {
		font-size: 30px;
	}

	.wrapper-btn {
		margin-top: 51px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	#hr-width {
		width: 100%;
	}

	.wrapper-passwords {
		margin-top: 35px;

		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.wrapper-passwords p {
		font-size: 0.9rem;
	}

	.wrapper-copy-btn {
		margin-top: 20px;

		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.btn-green {
		width: 10rem;
		font-size: 0.9rem;
	}
}
