@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	font-family: "Karla", sans-serif;
	background: #1c1c1c;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	/* line-height: 40px; */
	letter-spacing: -0.025em;
}

.container {
	border-radius: 6px;
	background-color: #1f2937;
	width: 550px;
	height: 550px;
}

.container .wrapper-text {
	display: flex;
	flex-direction: column;
	padding: 50px 144px 0 52px;
}

.wrapper-password-length {
	display: flex;
	align-items: center;
}

input#password-length {
	width: 50px;
	height: 20px;
	margin-left: 6px;
}

.white {
	color: white;
}

.shade-green {
	color: #4adf86;
}

.motto {
	color: #d5d4d8;
	margin: 0;
	margin-top: -10px;
}

.wrapper-passwords .border {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #4adf86;
	background: #273549;
	border-radius: 6px;
	width: 211px;
	height: 39px;
}

.btn-green {
	width: 191px;
	height: 42px;

	background: #10b981;
	border: none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	font-size: 16px;
}

.wrapper-btn {
	margin-top: 51px;
}

#generate-password:hover,
#copy-password0:hover,
#copy-password1:hover {
	background: #0ea674;
	cursor: pointer;
}

#hr-width {
	width: 446px;
	border: 1px solid #2f3e53;
	margin-top: 35px;
}

/* Flex */

.wrapper-passwords {
	margin-top: 35px;
	display: flex;
	justify-content: space-evenly;
}

.wrapper-copy-btn {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
