@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;

	font-family: "Inter", sans-serif;
	background: #1c1c1c;
}

.container {
	/* height: 100vh; */
	color: #ffffff;

	display: flex;
	justify-content: center;
	align-items: center;
}

#conversion-title {
	margin-top: 33px;
}

.card {
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 16px;

	background: #6943ff;
	border-radius: 3px;

	height: 729px;
	width: 550px;
	margin: 50px 0;
}

input#unit-number {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	font-size: 58px;

	background: transparent;
	border: 1px solid #b295ff;
	border-radius: 5px;

	overflow: hidden;
	padding: 30px;
}

.card #unit-number:focus {
	outline: none;
}

button#btn-convert:hover {
	cursor: pointer;
}

button#btn-convert {
	margin-top: 25px;
	margin-bottom: 34px;

	padding: 8px 20px;

	background: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0px 1px 2px 0px #0000000d;
}

/* card body */

.card-body {
	background: #1f2937;
	width: 550px;
	height: 729px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

h3.unit-text {
	color: #ccc1ff;
	margin-bottom: 9px;
}

p.conversion {
	font-size: 14px;
	margin: 0 16px;
}

.length,
.volume,
.mass {
	width: 500px;
	height: 108.57px;

	background: #273549;
	border-top-left-radius: 4.68px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 576px) {
	.container {
		height: 100vh;
		overflow: hidden;
		margin: 3rem;
	}

	.card {
		width: 100%;
		height: 100%;
	}

	.card-body {
		width: 100%;
		height: 100%;
		/* gap: 1rem; */
		padding: 1.5rem;
	}

	.length,
	.volume,
	.mass {
		width: 100%;
		height: 100%;
	}

	#conversion-title {
		font-size: 1.5rem;
	}

	h3.unit-text {
		font-size: 1rem;
	}

	p.conversion {
		font-size: 1rem;
	}

	input#unit-number {
		font-size: 3.25rem;
		width: 150px !important;
	}

	button#btn-convert {
		font-size: 1rem;
	}
}

@media screen and (max-width: 476px) {
	#conversion-title {
		font-size: 1rem;
		margin-top: 1rem;
	}

	input#unit-number {
		font-size: 2.25rem;
		padding: 1rem;
	}

	button#btn-convert {
		margin: 1rem;
		font-size: 0.95rem;
	}

	h3.unit-text {
		font-size: 1rem;
	}

	p.conversion {
		font-size: 0.75rem;
	}
}
